.landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.left,
.right {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.divider {
  height: 90%;
  width: 0.2rem;
  background-color: #f4f4f4;
  border: none;
}
.h2 {
  margin: 0px;
  font-size: 2rem;
}
.h1 {
  margin: 0px;
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
  position: relative;
}
.h1::before {
  content: "";
  height: 7rem;
  width: 2rem;
  background-color: #00a8ff;
  position: absolute;
  top: -5rem;
  right: -1rem;
}
.h1::after {
  content: "";
  height: 2rem;
  width: 7rem;
  background-color: #00a8ff;
  position: absolute;
  top: -2.5rem;
  right: -3.5rem;
}
.button_container {
  border: 0.1rem solid #00a8ff;
  border-radius: 0.5rem;
  height: 3rem;
  width: 14rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.1rem;
  box-sizing: border-box;
}
.button_signin,
.button_signup,
.button_modal {
  appearance: none;
  border: none;
  background-color: inherit;
  width: 40%;
  cursor: pointer;
}
.button_modal {
  height: 2.5rem;
  margin-bottom: 1rem;
}
.button_signin,
.button_modal {
  background-color: #00a8ff;
  border-radius: 0.4rem;
  color: white;
}
.ambulance {
  width: 50%;
  height: auto;
}
.p {
  font-size: 1.4rem;
  width: 60%;
  text-align: center;
}
.modal_wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.modal {
  position: fixed;
  top: 5rem;
  left: 50%;
  margin-left: -15%;
  width: 30%;
  min-height: 20rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  z-index: 2;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.input_entity {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.label {
  align-self: flex-start;
}
.input {
  width: 100%;
  border: 0.1rem solid #00a8ff;
  height: 1.5rem;
  border-radius: 0.5rem;
}
.error_message {
  margin: 0px;
  font-size: 0.8rem;
  align-self: flex-start;
  color: red;
}
.guestButton {
  appearance: none;
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
